.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.offset-xl-1 {
    margin-left: 0%;
}

.form-outline {
    margin-top: -15px;
    margin-bottom: -15px;
}